<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/sessions/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
  window.catvatarUrl = "<%= image_url('catvatar.jpg') %>"
</script>

<main id="root">
    a react saved is a redux earned
</main>