.new-session-header {
    background-color: #3e5b99;
    display: flex;
    justify-content: space-between;
}

.session-form {
    display: flex;
    align-items: center;
}

.email-phone-input {
    display: flex;
    flex-direction: column;
}

.password-input {
    display: flex;
    flex-direction: column;
}