.main-header {
    height: 43px;
    background-color: #4267b1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2a477d;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.main-header-nav {
    width: 1010px;
    color: #1a2947;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 380px;
}

.header-buttons {
    height: 28px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dropdown-box {
    position: absolute;
    display: block;
    background: white;
    border: #a6a8aa;
    box-shadow: 0 0 4px #a6a8aa;
    border-radius: 2px;
    z-index: 1;
}

#settings-dropdown {
    width: 200px;
    height: 38px;
    right: -4px;
    top: 42px;
}

#settings-dropdown:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #e9ebee;
    border-right: 7px solid transparent;
    border-top: 0;
    right: 11px;
    top: -10px;
}

.nav-dropdown-item {
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px 30px;
    margin: 5px 0;
}

.nav-dropdown-item:hover {
    background: #4267b1;
    color:white;
    cursor: pointer;
}

.main-header-logo-search {
    display: flex;
    align-items: center;
    position: relative;
}

.header-search {
    height: 25px;
    width: 450px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #3b5998;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    padding: 6px;
    position: relative;
}

.header-logo-box {
    display: flex;
    margin: 5px;
}

.header-logo-icon {
    height: 28px;
    width: 28px;
    color: white;
    margin: auto auto;
}

.header-logo-icon:hover {
    cursor: pointer;
}

.nav-button {
    height: 28px;
    min-width: 60px;
    color: white;
    border: none;
    font-size: 12px;
    background-color: #4267b1;
    position: relative;
    margin-right: 1px;
}

.profile-photo-nav-icon {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 7px;
    object-fit: cover;
}

.nav-button:hover {
    background-color: #3b5998;
}

.nav-button:after {
    content: "";
    border-left: 1px solid #3b5998;
    height: 18px;
    display: block;
    position: absolute;
    top: 5px;
    right: -1px;
}

#profile-button {
    width: unset;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 15px;
}

.nav-icon {
    height: 23px;
    width: 23px;
    margin: 3px;
}

.nav-icon:hover {
    cursor: pointer;
    color: #131e33;
}

.icon-selected {
    color: white;
}

.icon-selected:hover {
    cursor: pointer;
    color: white;
}

.header-indexes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    position: relative;
    margin: 0 6px;
}

.header-indexes:after {
    content: "";
    border-left: 1px solid #3b5998;
    height: 18px;
    display: block;
    position: absolute;
    top: 5px;
    right: -5px;
}

.header-utils {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    margin-left: 6px;
    position: relative;
}

.search-index-chunk-regular {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.search-index-chunk-bold {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.search-index-item {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 448px;
    margin-left: -1px;
    color: black;
    text-decoration: none;
}

.search-index-item:first-of-type {
    border-radius: 4px 4px 0 0;
}

.search-index-item:last-of-type {
    border-radius: 0 0 4px 4px;
}

.search-index-chunk {
    display: flex;
    align-items: center;
}

.search-index-item:hover {
    background-color: #dfe7f3;
    cursor: pointer;
}

.header-search-index {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1px;
    top: 34px;
    width: 448px;
    background-color: white;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #fafafa;
    box-shadow: 0 0 3px #4b4f56;
    font-family: sans-serif;
}

.see-all-results {
    color: #3478e5;
    font-weight: 700;
    font-size: 14px;
}

.header-search-icon {
    color: #32528f;
    background-color: #f5f6f7;
    height: 24.5px;
    width: 45px;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0px;
    top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #32528f;
    border-left: none;
}

.icon-active {
    color: white;
    background-color: #4080fe;
    transition: all, .2s, ease-in-out;
}

.header-search-icon:hover {
    cursor: pointer;
}