.session-main {
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Merriweather Sans';
}

.session-content {
    width: 520px;
    font-size: 16px;
    margin-top: 65px;
}

.session-content > * {
    margin-top: 40px;
}

.session-content > div > div {
    margin: 25px 0;
}

.session-h2 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.strong {
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}

.session-text {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-size: 16px;
}

.new-user-form {
    width: 400px;
    box-sizing: border-box;
    margin-top: 10px;
    
}

.new-user-form-box {
    margin-top: 22px;
}

.new-user-form-box > * {
    margin-bottom: 8px;
}

.new-user-form-h2 {
    font-family: 'Muli';
    font-size: 36px;
    font-weight: bold;
}

.new-user-form-h3 {
    font-family: 'Muli';
    font-size: 20px;
}

.new-user-form > span > * {
    margin: 10px 0;
}

.new-user-form > * {
    margin-bottom: 15px;
}

::placeholder {
    color: #949494;
}

.new-user-form-name-box {
    display: flex;
    justify-content: space-between;
}

.new-user-name-input {
    height: 40px;
    width: 195px;
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid #bdc6d8;
    padding: 10px;
    box-sizing: border-box;
}

.new-user-input {
    height: 40px;
    width: 400px;
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid #bdc6d8;
    padding: 10px;
    box-sizing: border-box;
}

.new-user-birthday {
    display: flex;
    position: relative;
}

.new-user-birthday > * {
    margin-top: 15px;
}

.birthday-inputs {
    /* width: 210px; */
    margin-top: 8px;
    margin-right: 5px;
}

.new-user-label {
    font-family: sans-serif;
    font-size: 18px;
}

.birthday-select {
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #bdc6d8;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
}

.new-user-birthday-why {
    font-family: sans-serif;
    font-size: 11px;
    margin-top: 12px;
    width: 160px;
    color: #4070B4;
    text-decoration: none;
    position: relative;
}

.new-user-birthday-why:hover {
    text-decoration: underline;
}

.hover-box {
    display: block;
    width: 315px;
    height: 130px;
    position: absolute;
    z-index: 1;
    color: black;
    background-color: white;
    font-size: 12px;
    right: 191px;
    top: -11px;
    filter: drop-shadow(0 0 4px #a6a8aab8);
    border: 1px solid #bdc6d8;
    border-radius: 3px;
    font-family: sans-serif;
    visibility: hidden;
	opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

.hover-box > p {
    padding: 15px;
}

.hover-box:before {
    content: "";
    display: block;
    position: absolute;
    transform: translate(312px, 10px);
    border-left: 8px solid white;
    border-right: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
}

.hover-box-button {
    position: relative;
    height: 23px;
    width: 45px;
    left: 255px;
    bottom: 5px;
    background-color: #4167b2;
    color: white;
    border: 1px solid #29477d;
    border-radius: 2px;
    font-size: 11.5px;
    font-weight: bold;
}

.hover-box-text:after {
    content: "";
    top: 10px;
    border-bottom: 1px solid #bdc6d8;
    opacity: .5;
    display: block;
    margin-top: 10px;
}

.new-user-radio {
    margin-top: 10px;
}

.new-user-radio > label {
    margin: 0 10px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.sign-up-text {
    font-family: sans-serif;
    font-size: 11px;
    width: 290px;
    color: #939393;
    margin-bottom: 23px;
    line-height: 1.2;
}

.new-user-submit-button {
    background-image: linear-gradient(#67ad55, #578843);
    width: 200px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    border-top: 1px solid #3b6e22;
    border-bottom: 1px solid #2c5115;
    border-left: 1px solid #3b6e22;
    border-right: 1px solid #3b6e22;
    box-shadow: inset 0 1px 1px #a4e388;
}

.new-user-submit-button:hover {
    cursor: pointer;
    background-image: linear-gradient(#76b85b, #578843);
}

