.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
}

.create-post-box {
    position: relative;
    border: 1px solid #dddfe2;
    margin-top: 12px;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
}

.create-post-box-high {
    position: relative;
    z-index: 12;
    border: 1px solid #dddfe2;
    margin: 12px 0;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

.create-post-header {
    height: 35px;
    background-color: #f5f6f7;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.create-post-header-item {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #4b4f56;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    position: relative;
    margin: 0 5px;
}

.create-post-header-item:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #dddfe2;
    border-right: 8px solid transparent;
    border-top: 0;
    left: 50%;
    margin-left: -5px;
    bottom: -1px;
}

.create-post-header-item:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid transparent;
    border-bottom: 7px solid white;
    border-right: 7px solid transparent;
    border-top: 0;
    left: 50%;
    margin-left: -4px;
    bottom: -1px;
}

.create-post-header-close {
    font-size: 28px;
    color: #bec2c9;
    padding: 2px 10px;
}

.create-post-header-close:hover {
    cursor: pointer;
}

.create-post-body {
    background-color: white;
    display: inline-flex;
    border-top: 1px solid #dddfe2;
}

.create-post-avatar-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 12px;
    object-fit: cover;
}

.create-post-textarea {
    width: 447px;
    height: 89px;
    font-size: 14px;
    border: none;
    resize: none;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.create-post-textarea-modal {
    width: 447px;
    height: 100px;
    font-size: 22px;
    border: none;
    resize: none;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.create-post-textarea-modal-small {
    width: 447px;
    min-height: 100px;
    height: auto;
    font-size: 14px;
    border: none;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    resize: none;
    font-family: sans-serif;
}

.create-post-footer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.create-post-footer-modal-self {
    background-color: #f5f6f7;
    display: flex;
    justify-content: flex-end;
}

.create-post-footer-post {
    height: 25px;
    width: 60px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #4167b2;
    border: 1px solid #4167b2;
    border-radius: 3px;
    margin: 8px;
    transition: background-color .2s ease-in-out;
}

.create-post-footer-post:disabled {
    background-color: #9cb4d8;
    border: 1px solid #9cb4d8;
}

.create-post-footer-share {
    height: 25px;
    width: 497px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #4167b2;
    border-radius: 3px;
    margin: 8px;
    transition: background-color .2s ease-in-out;
    border: 1px solid #4167b2;

}

.create-post-footer-share:disabled {
    background-color: #9cb4d8;
    border: 1px solid #9cb4d8;
}

.post-item {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    white-space: pre-wrap;
}

.post-item-header {
    display: flex;
    align-items: center;
    position: relative;
}

.post-item-header-details {
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-item-header-name {
    text-decoration: none;
    font-weight: 700;
    color: #3758a1;
    font-size: 14px;
}

.post-item-header-name:hover {
    text-decoration: underline;
}

.post-item-header-date {
    font-size: 12px;
    color: #616770;
}

.post-item-actions-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.post-item-action {
    width: 45%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606770;
}

.post-item-action:hover {
    background-color: #f2f3f5;
    cursor: pointer;
}

.post-item-action:active {
    transform: scale(0.95);
    transition: all 0s;
}

.post-item-action-icon {
    font-size: 18px;
    margin: 0 5px;
}

.post-item-actions-nav:before {
    content: "";
    width: 90%;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: 39px;
    left: 5%;
}

.post-item-actions-nav:after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0px;
}

.liked {
    color: #4080ff;
    font-weight: 700;
}

.post-item-likes-count-icon {
    border-radius: 50%;
    color: white;
    background: linear-gradient(#37a7fc, #1e60f1);
    font-size: 12px;
    padding: 3px;
    margin: 5px;
}

.post-item-likes-count {
    display: flex;
    align-items: center;
    margin: 6px 8px;
}

.post-item-count-text {
    font-size: 12px;
    color: #616770;
    margin-right: 3px;
}

.post-item-body {
    font-size: 22px;
    margin: 0 12px 12px 12px;
    line-height: 1.2;
}

.post-item-body-small {
    font-size: 14px;
    margin: 0 12px 12px 12px;
    line-height: 1.2;
}

.edit-post-modal {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
}

.post-item-settings-icon {
    position: absolute;
    color: #72787f;
    top: 12px;
    right: 4px;
    width: 25px;
}

.post-item-settings-icon:hover {
    cursor: pointer;
    color: #606770;
}

.post-item-settings {
    background-color: white;
    position: absolute;
    top: 32px;
    right: 8px;
    border: 1px solid #b5b5b5;
    box-shadow: 0 0 4px #b5b5b5;
    z-index: 1;
}

.delete-post-modal {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 445px;
    height: 155px;
    border: 1px solid #747474;
    border-radius: 3px;
}

.delete-post-header {
    height: 40px;
    background-color: #f5f6f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
}

.delete-post-header-close {
    font-size: 18px;
    color: #bec2c9;
}

.delete-post-header-close:hover {
    cursor: pointer;
}

.delete-post-body {
    background-color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    position: relative;
}

.delete-post-body:after {
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 93%;
    position: absolute;
    bottom: 0px;
    left: 3.5%;
}

.delete-post-footer {
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.delete-post-footer-delete {
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #4167b2;
    border-radius: 3px;
    margin: 12px 12px 12px 4px;
    padding: none;
    transition: background-color .1s ease-in-out;
}

.delete-post-footer-delete:hover {
    background-color: #375897;
}

.delete-post-footer-edit {
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #4b4f56;
    background-color: #f5f6f7;
    border-radius: 3px;
    margin: 12px 0 12px 12px;
    padding: none;
    transition: background-color .1s ease-in-out;
}

.delete-post-footer-edit:hover {
    background-color: #d3d3d4;
}

.post-add-photo-button {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #54585f;
    background-color: #f5f6f7;
    border-radius: 15px;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 14px 8px 14px;
    position: relative;
}

.post-add-photo-icon {
    font-size: 20px;
}

.post-add-photo-button:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.post-add-photo-button:after {
    content: "";
    width: 488px;
    position: absolute;
    top: -10px;
    left: -2px;
    border-bottom: 1px solid #dddfe2;
}

.post-photo-preview {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 5px;
    margin-bottom: 10px;
}

.post-photo-preview-index {
    display: flex;
    margin: 12px;
    width: 487px;
    overflow-x: auto;
}

.post-photo-drag-zone {
    width: 100px;
    height: 100px;
    min-width: 100px;
    box-sizing: border-box;
    border: 3px dashed #dddfe2;
    font-size: 40px;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-photo-drag-zone:hover {
    cursor: pointer;
}

.post-item-photo-index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    height: 515px;
    width: 515px;
    position: relative;
}

.post-item-photo-index > img:hover {
    cursor: pointer;
    filter: brightness(88%);
}

.post-item-photo-index > img {
    background-color: black;
}

.post-item-photo-half {
    width: 255.5px;
    height: 515px;
    object-fit: cover;
    object-position: center center;
}

.post-item-photo-quarter {
    width: 255.5px;
    height: 255.5px;
    object-fit: cover;
    object-position: center center;
}

.post-item-photo-23 {
    width: 342px;
    height: 515px;
    object-fit: cover;
    object-position: center center;
}

.post-item-photo-23-half {
    width: 342px;
    height: 256px;
    object-fit: cover;
    object-position: center center;
}

.post-item-photo-13 {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: center center;
}

.post-item-photo-free {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.post-item-photo-free:hover {
    cursor: pointer;
}

.post-item-index-more {
    position: relative;
    width: 170px;
    height: 170px;
}

.post-item-index-more-overlay {
    font-size: 28px;
    width: 100%;
    height: 100%;
    position: relative;
    top: -172px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0006;
    z-index: 1;
    color: white;
}

.post-item-index-more-overlay:hover {
    cursor: pointer;
}
/* 
.post-item-photo-index:after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: -4px;
} */