.profile-body {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.profile-header {
    position: relative;
}

.cover-photo {
    width: 850px;
    height: 315px;
    margin-top: -1px;
    position: relative;
    z-index: -1;
}

.profile-photo {
    border-radius: 50%;
    border: 5px solid white;
    height: 160px;
    width: 160px;
    position: absolute;
    left: 16px;
    top: 170px;
    box-shadow: 0 0 2px 1px #acaeb3;
    background-color: white;
}

.profile-header-nav {
    height: 45px;
    width: 850px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: -4px;
    border: 1px solid #d3d6db;
    box-sizing: border-box;
}

.profile-header-nav-button {
    height: 100%;
    width: 90px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #385797;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e9eaed;
}

.profile-header-nav > p {
    border-right: 1px solid #e9eaed;
}


.profile-header-nav-button-selected {
    height: 100%;
    width: 90px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #4b4f56;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e9eaed;
    position: relative;
}

.profile-header-nav-button-selected:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #d3d6db;
    border-right: 8px solid transparent;
    border-top: 0;
    left: 50%;
    margin-left: -5px;
    bottom: -1px;
}

.profile-header-nav-button-selected:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #e9eaed;
    border-right: 7px solid transparent;
    border-top: 0;
    left: 50%;
    margin-left: -4px;
    bottom: -1px;
}

.header-user-name {
    font-family: sans-serif;
    font-size: 24px;
    background: none;
    color: white;
    text-decoration: none;
    position: absolute;
    top: -83px;
    left: 195px;
    text-shadow: 0 0 3px black;
    letter-spacing: 1px;
}

.profile-header-nav-floating-buttons {
    position: absolute;
    top: -90px;
    display: flex;
    right: 148px;
}

.profile-header-button {
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 2px;
}

.profile-header-button:hover {
    background-color: #f1f1f1;
    transition: all .5s linear;
}

.profile-header-button:active {
    background-color: #e4e4e4;
    transform: scale(0.99);
    transition: all 0s;
}

.profile-header-button > * {
    padding: 0 2px;
}

.profile-friends-button {
    margin-right: 12px;
}

.profile-header-dropdown-item {
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    padding: 5px 25px;
    background-color: white;
}

.profile-header-dropdown-item:first-of-type {
    margin-top: 5px;
}

.profile-header-dropdown-item:last-of-type {
    margin-bottom: 5px;
}

.profile-header-dropdown-item:hover {
    background: #4267b1;
    color:white;
    cursor: pointer;
}

.friends-dropdown-box {
    position: absolute;
    display: block;
    background: white;
    border: 1px solid #696969;
    box-shadow: 0 0 4px #696969;
    border-radius: 2px;
    z-index: 1;
}

#friends-button-dropdown {
    top: 38px;
}

#friends-button-dropdown:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 9px solid transparent;
    border-bottom: 9px solid white;
    border-right: 9px solid transparent;
    border-top: 0;
    left: 15px;
    top: -8px;
}

.profile-friends-box {
    background-color: white;
    width: 322px;
    border: 1px solid #dddfe2;
    margin: 12px 12px 12px 0;
}

.profile-friends-box-header {
    display: flex;
    align-items: center;
    padding: 12px 0 6px 8px;
    font-size: 16px;
    font-family: sans-serif;
}

.profile-friends-box-header > * {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.profile-friends-box-count {
    color: #90949c;
    font-size: 14px;
}

.friends-box-item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
}

.friends-box-item > p {
    margin: 7px 5px;
}

.friends-box-item-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}

.friends-box-item:hover {
    cursor: pointer;
}

.friends-box-ul {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin-top: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}
